<tr>
  <td><%= check_box_tag "contact_ids[]", contact.id %></td>
  <td><%= contact.first_name %> <%= contact.last_name %></td>
  <td><%= contact.email %></td>
  <td><%= contact.phone_number %></td>
  <td><%= link_to "Show this contact", contact %></td>
</tr>
